
<div class="form-header">
    <h2>Sign In</h2>
</div>
<div class="form">
    <form method="post"  (submit)="submitForm()">
        <label class="label-field" for="email" hidden>Email:</label>
        <input class="input-field" type="email" id="email" name="email" placeholder="email address" [(ngModel)]="userData.email" required>
        
        <br/><br/>
        <label class="label-field" for="password" hidden>Password:</label>
        <input class="input-field" type="password" id="password" name="password" placeholder="password" [(ngModel)]="userData.password" required>
        <br/><br/>
        <button class="subscribe-btn" type="submit">Sign In</button>
        <br/><br/>
        {{status}}{{message}}
    </form>
</div>
<div class="form-footer">
    <br/>
    <a class="submit-btn" routerLink="/auth/signup">Sign Up</a>
    <p>Don't have an account yet? Sign up </p>
</div>
