<p>Sign Up</p>
<form method="post"  (submit)="submitForm()">
    <label for="email">Email:</label>
    <input type="email" id="email" name="email" [(ngModel)]="userData.email" required>
    <p>{{ userData.email }}</p>

    <label for="username">Username:</label>
    <input type="text" id="username" name="username" [(ngModel)]="userData.username" required>
    <p>{{ userData.username }}</p>

    <label for="password">Password:</label>
    <input type="password" id="password" name="password" [(ngModel)]="userData.password" required>
    <p>{{ userData.password }}</p>

    <button type="submit">Sign Up</button>
    {{status}}
</form>
